slides > slide {
    overflow-y: auto !important;
    background-image: none; 
}

slides > slide:not(.nobackground):before {
  background: none;
  
}

slides > slide:not(.nobackground):after {
  content: "";
}

hr {
  border-color: #729fcf;
}

p {
  text-align: justify;
}

h3 {
  text-align: center;
}

ul {
   list-style-type: none;
   margin-left: 40px;
}